{% include 'cc/cabecera.html'%}
    <section class="home">
        <div class="container ">
        <form>
            <table id="datos" number-per-page="3" current-page="" class="display">
                <thead>
                <tr>
        
                  <th scope="col">CLIENTE</th>
                  <th scope="col">SEGMENTO</th>
                  <th scope="col">SUBSGEMENTO</th>
                  <th scope="col">EJECUTIVO</th>
                  
                  <th scope="col">Acciones</th>
                </tr>
            </thead>
                <tbody>
                  {%for asignacion in asignacion%}
                  <tr>
        
                    <td>{{asignacion[1]}}</td>
                    <td>{{asignacion[2]}}</td>
                    <td>{{asignacion[3]}}</td>
                    <td>{{asignacion[4]}}</td>
                    <td>
        
        
                      <a href="javascript:eliminarAsignacion({{asignacion[0]}}, '{{asignacion[1]}}')" class=" bx bx-user-x"></a>
                      <a href="/ConsultarAsignacion/{{asignacion[0]}}" class="btn btn-warning bx bxs-edit-alt"></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
        
              </table>
    
          <div class="buttons">
            <a href="/admin/asignacion" type="" value="">Regresar</a>
          </div>
      </div>
    
      </div>
    
      </form>
    
      </div>
    </form>
</div>
    </section>
{% include 'cc/pie.html'%}